[submodule "plugins/redmine_dashboard"]
	path = plugins/redmine_dashboard
	url = git@github.com:jgraichen/redmine_dashboard.git
[submodule "plugins/redmine_ckeditor"]
	path = plugins/redmine_ckeditor
	url = git@github.com:a-ono/redmine_ckeditor.git
[submodule "plugins/redmine_knowledgebase"]
	path = plugins/redmine_knowledgebase
	url = git@github.com:alexbevi/redmine_knowledgebase.git
[submodule "plugins/redmine_login_audit"]
	path = plugins/redmine_login_audit
	url = git@github.com:martin-denizet/redmine_login_audit.git
[submodule "plugins/redmine_git_remote"]
	path = plugins/redmine_git_remote
	url = git@github.com:dergachev/redmine_git_remote.git
[submodule "plugins/redmine_default_members"]
	path = plugins/redmine_default_members
	url = git@github.com:jbox-web/redmine_default_members.git
[submodule "plugins/redmine_silencer"]
	path = plugins/redmine_silencer
	url = git@github.com:paginagmbh/redmine_silencer.git
[submodule "plugins/redmine_dmsf"]
	path = plugins/redmine_dmsf
	url = git@github.com:danmunn/redmine_dmsf.git
[submodule "plugins/redmine_tags"]
	path = plugins/redmine_tags
	url = git@github.com:redminecrm/redmine_tags.git
[submodule "plugins/redmine_equipment_status_viewer"]
	path = plugins/redmine_equipment_status_viewer
	url = git@github.com:sukima/redmine_equipment_status_viewer.git
