<ul>

	<% if @person.present? %>
		<li><%= context_menu_link l(:button_edit), {:controller => 'people', :action => 'edit', :id => @person}, :class => 'icon-edit', :disabled => !@can[:edit] %></li>
	<% else %>
    <!-- <li><%# context_menu_link l(:button_edit), {:controller => 'people', :action => 'bulk_edit', :ids => @people.collect(&:id)},
            :class => 'icon-edit', :disabled => !@can[:edit] %></li> -->
	<% end %>	

</ul>

